#homePage {
  background-image: url("images/homepage-image.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#contentBox {
  text-align: center;
  color: black;
  margin-top: 110px;
}

#moreInfoButton {
  float: right;
  margin-top: 20px;
}

.alert {
  display: none;
}
